@font-face {
  font-family: 'Circular-medium';
  font-weight: normal;
  src: url('fonts/circularstd-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/circularstd-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/circularstd-medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/circularstd-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/circularstd-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/circularstd-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Circular-book';
  font-weight: normal;
  src: url('fonts/circularstd-book-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/circularstd-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/circularstd-book-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/circularstd-book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/circularstd-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/circularstd-book-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}